
.media{
  /*margin-left:100px;
  min-width: 500px;*/
  /*background-color: #ededed;*/
  margin-top:35px;
  width:66%;
  margin-left:23%;
}
.one-challenge {
  max-width:300px;
  height:30vh;
  min-width:200px;
  min-height:300px;
  border: 1px solid grey;
  margin: 5px;
  background: white;
  overflow: auto;
  }
  .one-challenge:hover {
  top: 2px;
  /*-webkit-box-shadow: 0 0 0 #2CADAD;
  -moz-box-shadow: 0 0 0 #2CADAD;*/
  box-shadow: 1px 1px 1px #16a79d;
}
  
  

.challenge-title-row {
  height: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.challenge-media-row {
  height: 50%;
}

.challenge-list-media {
  max-width: 100%;
  max-height: 100%;
}

.social-button {
  background:white;
  box-shadow:  none;
  border-radius: 0px;
  border: none;
  margin: 0.5px
}

social-button.active {
  background:white;
  box-shadow:  none;
  border-radius: 0px;
  border: none;
}

.category-row {
  margin-top: 5px;
  margin-bottom: 5px;
}

#leader-img{
  width:17%;
  height: 17%;
  display: block;
  margin: 0 auto;
  margin-top:10px;
  margin-bottom:25px;
  border: none;
}

.leader-td{
  margin-left:30px;
}

.leader-container{
  margin:50px 0 0 50px;
}

#medal{
  vertical-align: text-top;
}

th{
  color: white;
  margin: 0 auto;
  font-weight:bolder;
  text-shadow: 1px 1px 3px #000000;
  font-size: 1.5em;
}

tbody{
border: 2px solid #D5D5D5;
}

.category-tab {
  font-size: .9em;
  color: orange;
  margin-top: -10px;
  border: orange solid 0.5px;
  border-radius: 2px;
  padding: 2px 10px 2px 10px;
}
.table-nonfluid {
   width: 75% !important;
   margin:0 auto;
   /*border: 1px solid red;*/
}
