body {
  background:#f3f3f3;
}

.category-title-row {
  margin-top: 50px;
  height: 60px;
  color:black;
} 

.category-title {
  /*color: #16a79d !important; */
  color: orange;
}

/*.category-title-row > h4 {
}*/
